doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    link(rel="stylesheet", href="/public/assets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/public/assets/css/Navigation-with-Search.css")
    link(rel="stylesheet", href="/public/assets/css/styles.css")
  body
    block nav
      nav.navbar.navbar-light.navbar-expand-md.navigation-clean-button.setToBlack
        div.container
          a(href="/news/mainView" style="color:#c9caca").navbar-brand News Site
          div(id="navcol-1").collapse.navbar-collapse
            ul.nav.navbar-nav.mr-auto
              li(role="presentation" ).nav-item
                a(href="/users/userProfile" style="color:#c9caca").nav-link Profile
              li(role="presentation" ).nav-item
                a(href="/news/newNews" style="color:#c9caca").nav-link New Article
            span.navbar-text.actions
              a(href="/users/logout").btn.btn-light.action-button Log Out
    block content
