extends layoutLogged

block content
    div(style="margin:50px")
        form(method='post', action='/news/saveNews' , class='form-vertical')
            fieldset
                legend: strong.text-info New News Article

                if message.errnewstitle
                    div.alert.alert-danger Missing News Title
                    
                if message.errnewsbody
                    div.alert.alert-danger Missing News Content
                
                div.form-group
                    label News Title :
                    input.form-control(name='newsTitle', placeholder="News Title")
                
                div.form-group
                    label News Content :
                    br
                    textarea(name="newsBody", placeholder="Type here...", rows="17", cols="190") 

                div.form-actions
                    input.btn.btn-primary(type='submit', value='Submit News Article')
                    tr 
                    a.btn(href='/users/userProfile') Cancel